<div class="column c-3">
  <div class="head">
    <span class="headline hl1">May the Force be with you</span>
    <p>
      <span class="headline hl2"
        >Let go your conscious self and act on instinct</span
      >
    </p>
  </div>
  <p>
    Partially, but it also obeys your commands. Hey, Luke! May the Force be with
    you. I have traced the Rebel spies to her. Now she is my only link to
    finding their secret base.
  </p>
  <figure class="figure">
    <img class="media" src="http://i.giphy.com/4fDWVPMoSyhgc.gif" alt="" />
    <figcaption class="figcaption">
      "This time, let go your conscious self and act on instinct."
    </figcaption>
  </figure>
  <p>
    Leave that to me. Send a distress signal, and inform the Senate that all on
    board were killed.
    <span class="citation"
      >"Don't under&shy;estimate the Force. I suggest you try it again,
      Luke."</span
    >
    This time, let go your conscious self and act on instinct. In my experience,
    there is no such thing as luck. You're all clear, kid. Let's blow this thing
    and go home!
  </p>
  <p>
    You don't believe in the Force, do you? Partially, but it also obeys your
    commands. The plans you refer to will soon be back in our hands. As you
    wish.
  </p>
</div>
