include partials/1-DOCTYPE.html
include partials/2-openHTML.html
include partials/3-head-static.html
include partials/4-openBody.html
include partials/5-header.html
include partials/6-contentOpen.html
include partials/7-columnsOpen.html
include partials/8-columnOne.html
include partials/9-columnTwo.html
include partials/10-columnThree.html
include partials/11-columnFour.html
include partials/12-columnFive.html
include partials/13-columnsClose.html
include partials/14-contentClose.html
include partials/15-closeBody.html
include partials/16-closeHTML.html